<div class="jumbotron">
  <h1>¡Ta te ti!</h1>
  <h4>Bienvenido al juego de Tateti</h4>
  <label for="checkTablero">
    <h5>Mostrar Tablero</h5>
  </label>


</div>
<div id="body" class="body">
  <div class="text-center" id="box">
    <header>
      <h1>Suerte!</h1>
    </header>
    <div id="message"></div>
    <ul id="gameBoard">
      <li class="tic" id="0" (click)="eleccion(0)"></li>
      <li class="tic" id="1" (click)="eleccion(1)"></li>
      <li class="tic" id="2" (click)="eleccion(2)"></li>
      <li class="tic" id="3" (click)="eleccion(3)"></li>
      <li class="tic" id="4" (click)="eleccion(4)"></li>
      <li class="tic" id="5" (click)="eleccion(5)"></li>
      <li class="tic" id="6" (click)="eleccion(6)"></li>
      <li class="tic" id="7" (click)="eleccion(7)"></li>
      <li class="tic" id="8" (click)="eleccion(8)"></li>
    </ul>
    <div class="clearfix"></div>
    <footer>
      <button id="reset" (click)="reset()">Resetiar</button>
    </footer>
  </div>
</div>

<div id="efecto" style="display:none; color: white; text-align: center;" (click)="quitarEfecto()">
  <h1 style="position: absolute;  top: 50%;  left: 40%;" id="icon">{{mensaje}}</h1>
</div>

<div id="modal-mensajes" class="mensaje" hidden>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p data-mensaje>{{mensaje}}&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-jugar data-dismiss="modal">Jugar</button>
      </div>
    </div>
  </div>
</div>