<!-- nuevo -->

<app-cabecera> </app-cabecera>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Bienvenidos</h1>
  <p class="lead">Trabajo Practico para la materia laboratorio IV.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Juegos</h4>
      </div>
      <div class="card-body">        
        <img src="../../../assets/imagenes/saladejuegos.png" alt="juegos" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos">Entrar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Listado de Resultados</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/listado.jpg" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Listado">Entrar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Jugadores</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/jugadores.png" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Jugadores">Entrar</button>
      </div>
    </div>
  </div>
  
  

<!--   <footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" src="../assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
        <small class="d-block mb-3 text-muted">&copy; 2017-2020</small>
      </div>
      <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Cool stuff</a></li>
          <li><a class="text-muted" href="#">Random feature</a></li>
          <li><a class="text-muted" href="#">Team feature</a></li>
          <li><a class="text-muted" href="#">Stuff for developers</a></li>
          <li><a class="text-muted" href="#">Another one</a></li>
          <li><a class="text-muted" href="#">Last time</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Resource</a></li>
          <li><a class="text-muted" href="#">Resource name</a></li>
          <li><a class="text-muted" href="#">Another resource</a></li>
          <li><a class="text-muted" href="#">Final resource</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">Team</a></li>
          <li><a class="text-muted" href="#">Locations</a></li>
          <li><a class="text-muted" href="#">Privacy</a></li>
          <li><a class="text-muted" href="#">Terms</a></li>
        </ul>
      </div>
    </div>
  </footer> -->
</div>


<!-- <app-cabecera> </app-cabecera>




<div class="container">

  <ul class="list-group">
    <li class="list-group-item list-group-item-danger">

      <div class="media-body">
        <div class="hero-text">
          <h4>Menú Principal</h4>
        </div>
      </div>


    </li>
    <li class="list-group-item list-group-item-success">
      <a routerLink="/Juegos">
        <div class="media">
          <div class="media-left">
            <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Juegos</h4>
            <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los
              estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien
              de los temas impartidos por los docentes utilizando el juego.</p>
          </div>

        </div>
      </a>
    </li>
    <li class="list-group-item list-group-item-info">
      <a routerLink="/Listado">
        <div class="media">
          <div class="media-left">
            <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Listados de resultados</h4>
            <p>Los listados de los resultados con ordenamiento y busqueda</p>
          </div>

        </div>
      </a>
    </li>
    <li class="list-group-item list-group-item-warning">
      <a routerLink="/Juegos">
        <div class="media">
          <div class="media-left">
            <img src="./assets/imagenes/Configuracion.png" class="media-object imagenDeMenu">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Configuraci&oacute;n</h4>
            <p>Ajustes de la aplicacion y los métodos de autentificación</p>
          </div>

        </div>
      </a>
    </li>
    <li class="list-group-item list-group-item-warning">
      <a routerLink="/Jugadores">
        <div class="media">
          <div class="media-left">
            <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu">
          </div>
          <div class="media-body">
            <h4 class="media-heading">Jugadores</h4>
            <p>Listado de jugadores</p>
          </div>

        </div>
      </a>
    </li>


  </ul>
</div> -->