<!-- nuevo -->

<app-cabecera> </app-cabecera>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white">
  <h1 class="display-4">Bienvenidos</h1>
  <p class="lead">Trabajo Practico para la materia laboratorio IV.</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center  ">
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Juegos</h4>
      </div>
      <div class="card-body">        
        <img src="../../../assets/imagenes/saladejuegos.png" alt="juegos" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos">Entrar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Listado de Resultados</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/listado.jpg" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Listado">Entrar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Jugadores</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/jugadores.png" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Jugadores">Entrar</button>
      </div>
    </div>
  </div>
</div>