<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4 text-white">Listado de juegos</h1>
  <p class="lead"></p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Velocidad y agilidad aritmética</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/cerebro.jpg" alt="juegos" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos/Agilidad">Jugar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Piedra Papel o Tijera</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/ppt.jpg" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos/Ppt">Jugar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Adivina el número secreto</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/adivina.png" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos/Adivina">Jugar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Anagrama</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/anagrama.jpg" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos/Anagrama">Jugar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">TaTeTi</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/tateti.png" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos/Tateti">Jugar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Memotest</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/memotest.jpg" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos/Memotest">Jugar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal ">Cara O Seca</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/caraoseca.jpg" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos/Caraoseca">Jugar</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal ">Cara O Seca</h4>
      </div>
      <div class="card-body">
        <img src="../../../assets/imagenes/caraoseca.jpg" alt="" class="responsive">
        <button type="button" class="btn btn-lg btn-block btn-outline-dark" routerLink="/Juegos/Snake">Jugar</button>
      </div>
    </div>
  </div>
</div>