
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }

  @media (min-width: 768px) {
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
  }    
  html {
	font-size: 14px;
  }
  @media (min-width: 768px) {
	html {
	  font-size: 16px;
	}
  }
  
  .container {
	max-width: 960px;
  }
  /* 
  .pricing-header {
	max-width: 700px;
  } */
  
  .card-deck .card {
	min-width: 125px;
  }
  .responsive {
	width: 100%;
	height: 70%;
  }
  .imagenFondo{
	background-image: url(../../../assets/imagenes/cartaMemotest.jpg);
  }
  .card-body{
	  cursor: pointer;
  }
  .cardblank{
    background-image: url(../../../assets/imagenes/svg/acertijo.jfif);
    background-size: 100% 100%;
  }
  .showCharacter{
    opacity: 0;
  }

  .menu{
    position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  }