<!-- NUEVO -->
<div class="wrapper fadeInDown">
    <div id="formContent">
        <div class="fadeIn first">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/220px-User_icon_2.svg.png"
                id="icon" alt="User Icon" />
        </div>
        <form [formGroup]="loginForm">
            <input type="text" class="fadeIn second" formControlName="correo" name="correo" placeholder="Correo" />
            <div *ngIf="loginForm.controls['correo'].invalid && (loginForm.controls['correo'].dirty || loginForm.controls['correo'].touched)"
                class="alert alert-danger fadeIn second">
                <div *ngIf="loginForm.controls['correo'].errors.required">
                    Correo es requerido.
                </div>
                <div *ngIf="loginForm.controls['correo'].errors.email">
                    Ingrese un correo valido.
                </div>
            </div>
            <input type="password" class="fadeIn third" formControlName="clave" name="clave" placeholder="Contrasena" />
            <div *ngIf="  loginForm.controls['clave'].invalid &&  (loginForm.controls['clave'].dirty ||  loginForm.controls['clave'].touched)"
            class="alert alert-danger fadeIn second">
                <div *ngIf="loginForm.controls['clave'].errors.required">
                    Campo Requerido.
                </div>
                <div *ngIf="loginForm.controls['clave'].errors.minlength">
                    La clave debe tener mas de 6 caracteres.
                </div>
            </div>
            <input type="submit" class="btn btn-warning fadeIn fourth" value="Ingresar como admin"
                (click)="IngresarComoAdmin()" />
            <!-- <button class="btn btn-warning btn-lg btn-block fadeIn fourth" style="display: block;" (click)="IngresarComoAdmin(f)">Ingresar como admin</button> -->
            <input type="submit" class="fadeIn fourth" value="Entrar" (click)="login()" [disabled]="loginForm.controls.pristine || loginForm.controls.invalid"/>
        </form>
        <div id="formFooter">
            <a class="underlineHover" href="/Registro">Registrarme</a>
        </div>
    </div>
</div>