<div class="d-flex flex-column flex-md-row align-items p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm banner bg-transparent">
  <h5 class="my-0 mr-md-auto font-weight-normal" ><a routerLink="/Principal">Sala de Juegos</a> </h5>
  <button class="btn btn-warning my-0 mr-md-auto" type="button" (click)="back()">Atras</button>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-white" href="https://github.com/dfedericovera" target="_blank">En Github</a>
    <a class="p-2 text-white" routerLink="/QuienSoy">Quien soy?</a>
  </nav>
  <a class="btn btn-outline-danger" (click)="logOut()">Desconectarme</a>
</div>
 